@import "_gradle";

.reveal {
    background-image: url("../images/sunnytech/logo-sunnytech.svg"), url("../images/logo-gradle-elephant.svg");
    background-size: 90px, 80px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 6px left 8px, bottom 20px right 28px;
}
