name: CI

on:
  pull_request:
    paths-ignore:
      - '.github/CODEOWNERS'
      - 'README.md'
      - 'LICENSE'
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:

  wrapper_validation:
    name: "Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

  applications:
    name: "Applications"
    needs: wrapper_validation
    permissions:
      pull-requests: write
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true

      - name: Build Library
        run: ./gradlew --continue --stacktrace :image-generation:build
        env:
          CI: true

      - name: Build Build Logic
        run: ./gradlew --continue --stacktrace :buildSrc:build
        env:
          CI: true

      - name: Build Applications
        run: ./gradlew --continue --stacktrace build
        env:
          CI: true

      - name: Comment PR with build scan on failure
        uses: actions/github-script@v6
        if: github.event_name == 'pull_request' && failure()
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'âŒ ${{ github.workflow }} failed: ${{ steps.gradle.outputs.build-scan-url }}'
            })

      - name: Validate no local changes
        if: runner.os != 'Windows'
        run: if [ -z "$(git status --porcelain=v1 2>/dev/null)" ]; then echo "NO CHANGES"; else git --no-pager diff HEAD --no-color; fi

  slides:
    name: "Slides"
    needs: wrapper_validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          java-package: jdk+fx
          distribution: zulu

      - name: Install graphviz
        run: sudo apt-get install -y graphviz

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Slides
        run: xvfb-run ./gradlew --stacktrace :slides:build

      - name: Upload Slides Archive
        uses: actions/upload-artifact@v3
        with:
          name: slides-html
          path: slides/build/distributions/slides.zip
          if-no-files-found: error

      - name: Upload Slides PDF
        uses: actions/upload-artifact@v3
        with:
          name: slides-pdf
          path: slides/build/pdf/slides.pdf
          if-no-files-found: error

      - name: Validate no local changes
        run: if [ -z "$(git status --porcelain=v1 2>/dev/null)" ]; then echo "NO CHANGES"; else git --no-pager diff HEAD --no-color; fi
